<center>
<h3 class="rainbow">Budget Filter:</h3> 
    <%=form_tag budget_path, method: :get do %>
        <%=number_field_tag(:search, params[:search])%>
        <%=submit_tag "Submit"%>
    <%end%>

<br>

<h1 class="recipe">List of all Recipes:</h1>
<% @recipes.each do |recipe| %>
<p><%=link_to recipe.name, "/recipes/#{recipe.id}" %></p>
<%end%>
</center>
