<h1 class="recipe">Your Recipes</h1>


<div>
<%if @recipes%>
  <% @user_recipes.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %>
  <% end %>
<% end %>
<br><br><br>
<% if current_user == @user %>
  <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>