

<style>
h1 {
  text-shadow: 3px 3px pink;
}
</style>
<p>
<h1><font color=#fff400><font size="50">Welcome to the Recipe Maker and Gluten Checker</h1>


<center>


  <h3><font size="40" ><%= link_to "Log In", "/users/new" %>



<p>

<div id="locator">
<h6  class="rainbow"><font size="50">Brought to you by team</h6>
</div>
<div id="locator2">
<%= image_tag "ko.png" %>
</div>

</center>
